{
    "extends": "airbnb",
    "rules": {
        "no-use-before-define": ["error", "nofunc"],
        "no-underscore-dangle": [
                "error",
                {
                    "enforceInMethodNames": false,
                    "allowAfterThisConstructor": true,
                    "allowAfterThis": true
                }
        ],
        "no-multi-assign": "off",
        "default-case": "off",
        "one-var": "off",
        "one-var-declaration-per-line": "off",
        "class-methods-use-this": "off",
        "no-param-reassign": "off"
    }
}
