{
    "extends": "airbnb",
    "rules": {
        "no-use-before-define": ["error", "nofunc"],
        "no-underscore-dangle": [
                "error",
                {
                    "enforceInMethodNames": false,
                    "allowAfterThisConstructor": true,
                    "allowAfterThis": true
                }
        ]
    }
}
